.row#footerRow {
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
}

.elemrow {
    flex: 1 1 auto;
    text-align: center;
}

.nav-link {
    font-weight: 500;
    font-size: 1.3em;
}

.navbar-nav {
    align-items: center;
    flex-grow: 1;
}

.nav-item {
    flex-grow: 1;
}

#navbarSupportedContent {
    flex-basis: 0;
}

#gmaps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    margin: 0;
    padding: 5px;
    border-radius: 0;
}

.iFrameGmaps {
    flex-grow: 1;
    width: auto;
    height: 400px;
}

.card {
    margin: 5px;
    flex-grow: 1;
}

.cardContact {
    margin: 0;
    padding: 5px;
    border-radius: 0;
}

#contacts {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    border-radius: 0;
}

.bg-nav {
    background-color: rgba(11, 11, 34, 0.79);
}

.card-text {
    word-wrap: break-word;
}

#tittleCardCenter {
    text-align: center;
}

#distrib {
    background-image: url("../img/distrib.png");
    background-repeat: no-repeat;
    background-position: left;
    transform: scaleX(-1);
}

#distrib > * {
    transform: scaleX(-1);
}

#distrib > div > * {
    text-shadow: black 0 0 10px;
}

#team {
    background-image: url("../img/team.png");
    background-repeat: no-repeat;
    background-position: left;
}

#team > div > * {
    text-shadow: black 0 0 10px;
}

#welcome {
    background-image: url("../img/logo.png");
    background-repeat: repeat-y;
    background-position: right;
    background-origin: content-box;
}

#welcome > div > * {
    text-shadow: black 0 0 10px;
}

#distrib1 {
    background-image: url("../img/distrib1.png");
    background-repeat: no-repeat;
    background-position: left;
    transform: scaleX(-1);
}

#distrib1 > * {
    transform: scaleX(-1);
}

#distrib1 > div > * {
    text-shadow: black 0 0 10px;
}

#appli {
    background-image: url("../img/application-mobile.png");
    background-repeat: no-repeat;
    background-position: left;
}

#appli > div > * {
    text-shadow: black 0 0 12px;
}

.produit {
    margin: 0 !important;
}